@media screen and (min-width: 1200px) {
  
  /* header */
  
    .container {
    width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
  }

  .logo-link {
    line-height: 1.33;
  }

  .header-link-adress {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    
    
  }

  .box-logo {
    margin-right: 76px;
  }

  .studio-logo-fot {
    color: var(--main-comand-bg-color);
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .header-list {
    margin-left: auto;
  }

  .header-list-colum {
    flex-direction: row;
    gap: 40px;
  }

  /* -------HERO------- */

  .hero {
    width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    width: 494px;
  }
  /* -----------VALUES--------- */
  .values {
    width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 120px;
  padding-bottom: 120px;
  }
}
