@media screen and (min-width: 480px) {
  /* header */

  .container {
    width: 428px;
    margin: 0 auto;
  }

  /* -------HERO------- */

  .hero {
    width: 428px;
    margin: 0 auto;
  }

  /* -----------VALUES--------- */

  .values {
    width: 428px;
    margin: 0 auto;
  }
  /* -----------TEAM--------- */
  .team {
    width: 428px;
    margin: 0 auto;
  }

  /* -----------CUSTOMERS--------- */

  .customers {
    width: 428px;
    margin: 0 auto;
  }

  /* footer */

  .page-footer {
    width: 428px;
    margin: 0 auto;
  }

   /* -----------PORTFOLIO--------- */

   .portfolio {
    width: 428px;
    margin: 0 auto;
   }
}
