@media screen and (min-width: 480px) {
 
    /* header */
 
    .container {
    width: 428px;
    margin: 0 auto;
    
  }

  /* -------HERO------- */

  .hero {
    width: 428px;
    margin: 0 auto;
  }

  /* -----------VALUES--------- */

  .values {
    width: 428px;
    margin: 0 auto;
  }
}


