@media screen and (min-width: 768px) {
  /* header */

  .container {
    width: 768px;
  }

  .page-header {
    padding: 0;
  }

  .momile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .header-list-colum {
    flex-direction: column;
    gap: 4px;
  }

  .header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-logo-color1);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
  }

  .header-link.current {
    color: var(--main-btn-color-2);
  }

  .header-link.current::after {
    content: '';
    width: 100%;
    height: 4px;

    background-color: var(--main-btn-color-2);
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .header-link-adress {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--main-p-color);
    display: block;
  }

  /* -------HERO------- */
  .hero {
    width: 768px;
    padding-bottom: 108px;
  }

  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
    width: 494px;
  }

  /* ------------------МОДАЛЬНЕ ВІКНО---------- */

  .modal {
    min-width: 408px;
    padding: 24px;
  }
  /* -----------VALUES--------- */

  .values {
    width: 768px;
  }

  .values-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 24px;
  }

  .values-item {
    width: 100%;
    max-width: 351px;
    margin: 0 auto;
  }

  .values-item:not(:last-child) {
  margin-bottom: 0px;
}

.valyes-paragraf {
  text-align: left;
}
}
